@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar-header img{
    width: 42px;
    border-radius: 50%;
}
.sidebar {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 260px;
    background: darkslategray;
    padding: 25px 20px;
}
.sidebar-header h2{
    font-size: 1.25rem;
    font-weight: 600;
    color :black;
    margin-left: 23px;
}
.sidebar-links{
list-style: none;
margin-top: 20px;
}
.sidebar-links li a{
    color: white;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar-links a:hover{
    background: #ffffff2d;
    color:white;
    border-radius: 4px;
}